<script>

    export let data;
    export let y_scale;
    export let x_scale;
    export let text_margin;
    export let height;

    function pathGenerator(data){
        let path = "M "+text_margin+","+height;
        data.forEach((value,index) => {
            path+= " "+(x_scale(index)+text_margin)+","+(height-y_scale(value));
        });
        path += " "+(x_scale(743)+text_margin)+","+height;
        return(path);
    }
</script>

<g>
    <path d={pathGenerator(data)}/>
</g>

<style>
    path{
        opacity: 0.7;
        fill: black;
    }
</style>
