<script>
    export let city = "Baltimore";
    export let scale = "all";
</script>

<div class="container"> 
    <div class="row margin">
        <button type="button" class="col-md-3 btn btn-outline-primary" disabled>Select City : </button>

        <div class="col-md-9 btn-group"aria-label="City">
        <input type="radio" class="btn-check" bind:group={city} name="city_radiobtn" id="btn_Baltimore" value={"Baltimore"} checked>
        <label class="btn btn-outline-primary" for="btn_Baltimore">Baltimore</label>
        
        <input type="radio" class="btn-check" bind:group={city} name="city_radiobtn" id="btn_Chicago" value={"Chicago"}>
        <label class="btn btn-outline-primary" for="btn_Chicago">Chicago</label>
        
        <input type="radio" class="btn-check" bind:group={city} name="city_radiobtn" id="btn_LosAngeles" value={"Los Angeles"}>
        <label class="btn btn-outline-primary" for="btn_LosAngeles">Los Angeles</label>
        </div>
     </div>

    <div class="row margin">
        <button type="button" class="col-md-3 btn btn-outline-danger" disabled>Select Scale : </button>

        <div class="col-md-9 btn-group" aria-label="Scale">
        <input type="radio" class="btn-check" bind:group={scale} name="scale_radiobtn" id="btn_all" value={"all"} checked>
        <label class="btn btn-outline-danger" for="btn_all">All Buldingtypes</label>
        
        <input type="radio" class="btn-check" bind:group={scale} name="scale_radiobtn" id="btn_type" value={"type"}>
        <label class="btn btn-outline-danger" for="btn_type">Each Buildingtype</label>
        </div>
    </div>
</div>

<style>
  .margin{
    margin: 5px;
  }
</style>