
<script>
    import {scaleLinear} from "d3-scale"; 

    export let innerHeight;
    export let innerWidth;
    export let transformed_data;

    let leaf_width=150;
    let leaf_height=100;
    let max_value=5000;

    let x_scale = scaleLinear().domain([0,167]).range([0,leaf_width]);
    let y_scale = scaleLinear().domain([0,max_value]).range([0,leaf_height]);

    function pathGenerator(array,mirror){
        let path = "M 0,0";
        array.forEach((value,index) => {
            path+= " "+(x_scale(index))+","+y_scale(value)*mirror;
        });
        path += " "+(x_scale(array.length-1))+",0";
        return(path);
    }
</script>


<!-- svelte-ignore component-name-lowercase -->
<text x={innerWidth/2} y=20 class="title1">Chicago Gas vs Electrity</text>
<line x1={innerWidth/2} y1=80 x2={innerWidth/2} y2={innerHeight-100} class="line"></line>
<path d="M {innerWidth/2},{innerHeight/12*10} Q
           {innerWidth/2+15},{innerHeight/12*9}
           {innerWidth/2},{innerHeight/12*8}" class="line"></path>
<path d="M {innerWidth/2},{innerHeight/12*8} Q
           {innerWidth/2-15},{innerHeight/12*7}
           {innerWidth/2},{innerHeight/12*6}" class="line"></path>
<path d="M {innerWidth/2},{innerHeight/12*6} Q
           {innerWidth/2+15},{innerHeight/12*5}
           {innerWidth/2},{innerHeight/12*4}" class="line"></path>
<path d="M {innerWidth/2},{innerHeight/12*4} Q
           {innerWidth/2-15},{innerHeight/12*3}
           {innerWidth/2},{innerHeight/12*2}" class="line"></path>

{#each Object.keys(transformed_data) as week,index}
  <g transform="translate({innerWidth/2+30*Math.pow(-1,index)},{innerHeight-(index+1.7)*(innerHeight/7.5)})
   rotate({45*Math.pow(-1,index+1)}) scale({Math.pow(-1,week)},1)">
    <path d={pathGenerator(transformed_data[week]["gas"],1)} class="gas"></path>
    {#if index%2===0}
      <!-- svelte-ignore component-name-lowercase -->
      <text x={transformed_data[week]["gas"].length} y=0 class="title2">Week{index+1}</text>
    {/if}   
    <path d={pathGenerator(transformed_data[week]["electrity"],-1)} class="electrity"></path>
  </g>
  <g transform="translate({innerWidth/2},{innerHeight-(index+1.7)*(innerHeight/7.5)+30})
   rotate({45*Math.pow(-1,index+1)}) scale({Math.pow(-1,week)},1)">
    <line x1=0 x2={transformed_data[week]["gas"].length+30} y1=0 y2=0 class="line">/>
  </g>
{/each}

<rect x={innerWidth/2-50} y={innerHeight-80} width=30 height=30 class="electrity"></rect>
<rect x={innerWidth/2-50} y={innerHeight-40} width=30 height=30 class="gas"></rect>
<!-- svelte-ignore component-name-lowercase -->
<text x={innerWidth/2} y={innerHeight-60} class="title2">Electrity</text>
<!-- svelte-ignore component-name-lowercase -->
<text x={innerWidth/2} y={innerHeight-20} class="title2">Gas</text>

<style>
    .gas {
        fill-opacity: 0.7;
        fill: orange;
        stroke: orange;
        stroke-width: 1px;
    }

    .electrity{
        fill-opacity: 0.7;
        fill: blue;
        stroke: blue;
        stroke-width: 1px;
    }

    .line{
      stroke: black;
      stroke-width: 2px;
      fill:none;
    }



    .title1 {
    text-anchor: middle;
    font-size: 20px;
    font-weight: bold;
  }

  .title2 {
    text-anchor: left;
    font-size: 14px;
    font-weight: bold;
  }
</style>