<script>
  
  //Import libraries, components and files
  import { max } from "d3-array";
  import { axisBottom } from "d3-axis";
  import { scaleLinear, scaleOrdinal } from "d3-scale";
  import { schemeCategory10 } from "d3-scale-chromatic";
  import { select } from "d3-selection";
  import { each, text } from "svelte/internal";

  import Controls from "./_design_1_controls.svelte";
  import Line from "./_design_1_line.svelte"

  // Size and margins
  const width = 600;
  const height =250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let text_margin =120;
  let title_margin =20;
  let axis_margin =30;
  
  //Data control variables
  let data = [];
  let filtered_data;
  let selected_city;
  let selected_scale;
  let transformed_data;
  let max_buildingtypes;
  let scale_factors;
  let max_all;
  let line_height;

  //Scales
  let x_scale=scaleLinear().domain([0,743]).range([0,innerWidth-text_margin]);

  //Axis
  let x_axis = axisBottom().scale(scaleLinear().domain([0,31]).range([0,innerWidth-text_margin])).ticks(31);

  fetch("/data/hourly_heating_december.json")
    .then(res => res.json())
    .then(res => data = res);


  $: {
      filtered_data=data.filter(record => record.city===selected_city);
      transformed_data={};
      filtered_data.forEach((record)=>{
          if(!(record.buildingtype in transformed_data)){
            transformed_data[record.buildingtype]=[];
          }
          transformed_data[record.buildingtype].push(record.total_heating_energy)
        });

      max_buildingtypes=[];
      Object.keys(transformed_data).forEach((type)=>{
        max_buildingtypes.push(max(transformed_data[type]));
        });

      max_all=max(max_buildingtypes);    

      line_height = (innerHeight-axis_margin-title_margin)/max_buildingtypes.length;

      scale_factors=[]
        if(selected_scale==="all"){
          max_buildingtypes.forEach((value)=>{
            scale_factors.push(1);
          });
        }
        else
        {
          max_buildingtypes.forEach((value)=>{
            scale_factors.push(value/max_all);
          });
        }      
    }

    function setAxis(){
      x_axis(select('#axis'))
    }

</script>


<div>
    <Controls bind:city={selected_city} bind:scale={selected_scale}/>
    <svg {width} {height}>
      <!-- svelte-ignore component-name-lowercase -->
      <text x={innerWidth/2} y={axis_margin/2} class="title">Total Heating Energy Consumption (December)</text>
      <g transform="translate({margin.left}, {margin.top})">
        {#each Object.keys(transformed_data) as buildingtype,index}
          <g transform="translate(0,{index*line_height+title_margin})">
            <!-- svelte-ignore component-name-lowercase -->
            <text x={text_margin-10} y={line_height} class="label">{buildingtype}</text>
            <Line data={transformed_data[buildingtype]}
            x_scale={x_scale} 
            y_scale={scaleLinear().domain([0,max_all*scale_factors[index]]).range([0,line_height-1])}
            text_margin={text_margin}
            height={line_height}/>
          </g>
        {/each}
      </g>
      <!-- svelte-ignore component-name-lowercase -->
      <text x={text_margin-10} y={height-axis_margin+10} class="footer">days</text>
      <g transform="translate({text_margin+margin.left}, {height-axis_margin})" use:setAxis id="axis" font-size=10 font-family="sans-serif"></g>
    </svg>
</div>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .label {
    font-size: 8px;
    font-weight: bold;
    text-anchor:end;
  }

  .title{
    font-size: 16px;
    font-weight: bold;
    text-anchor:middle;
  }

  .footer{
    font-size: 12px;
    font-weight: bold;
    text-anchor:end;
  }
</style>
