<script>
import Tree from "./_design_3_tree.svelte";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  let innerWidth = width - margin.left - margin.right;
  let innerHeight = height - margin.top - margin.bottom;

  let data=[];
  let transformed_data={};

  fetch("/data/hourly_electricity_vs_gas_december.json")
    .then(res => res.json())
    .then(res => data = res);


  $: {data.forEach(record=>{
      if(!(record.week in transformed_data )){
        transformed_data[record.week]={"gas":[],"electrity":[]};
      }
      transformed_data[record.week]["gas"].push(record.total_gas);
      transformed_data[record.week]["electrity"].push(record.total_electrity);
      })
    }

  
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <Tree bind:transformed_data={transformed_data} bind:innerHeight={innerHeight} bind:innerWidth={innerWidth} ></Tree>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
  
