<script>
  
import { max, mean } from "d3-array";
import { scaleLinear } from "d3-scale";

// Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  //Variables
  let data = [];
  let transformed_data={};
  let scale="all";
  let r_scale;
  let cooling;
  let heating;
  let angle_scale = scaleLinear().domain([0,12]).range([2*Math.PI,0]);
  let scale_factor=1;

  function pathGenerator(array,max,scale_factor){
    let path = "M ";
    r_scale=scaleLinear().domain([0,max]).range([0,innerWidth/8*scale_factor]);
    array.forEach((value,index) => {
      path+= " "+(r_scale(value)*Math.cos(angle_scale(index)))+","+(r_scale(value)*Math.sin(angle_scale(index)));
    });
    path+=" Z";
    return(path);
  }

  fetch("/data/daily_heating_cooling.json")
    .then(res => res.json())
    .then(res => data = res);

  $: {
    Array.from(["Baltimore","Chicago","Los Angeles"]).forEach(city=>{
      transformed_data[city]={}
      Array.from({length:12} ,(x,i)=>i+1).forEach(month=>{
        transformed_data[city][month]={"cooling":[],"heating":[]}
        data.filter(record=>{
          if(record.city===city & record.month===month){
            return(record.cooling);
          }
        }).forEach(record=>{
          transformed_data[city][month]["cooling"].push(record.cooling);
          transformed_data[city][month]["heating"].push(record.heating);
        })
      })
    })

    cooling={"Baltimore":[],"Los Angeles":[],"Chicago":[]};
    heating={"Baltimore":[],"Los Angeles":[],"Chicago":[]};
    Array.from(["Baltimore","Chicago","Los Angeles"]).forEach(city=>{
      Array.from({length:12} ,(x,i)=>i+1).forEach(month=>{
        cooling[city].push(mean(transformed_data[city][month]["cooling"]));
        heating[city].push(mean(transformed_data[city][month]["heating"]));
      })
    });
    
  }

</script>

<div>
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <text x={innerWidth/2} y=10 class="title1">Average of Cooling / Heating Consumption (Monthly)</text>
        {#each Object.keys(cooling) as city,index }
        {scale_factor=max(cooling[city])/max(heating[city])}
        <g transform="translate({innerWidth/2-innerWidth/3*(index-1)},40)">
          <text x=0 y=0 class="title2">{city}</text>
        </g>
        <g transform="translate({innerWidth/2-innerWidth/3*(index-1)}, {innerHeight/2+25}) rotate(-90)">
          <path d={pathGenerator(cooling[city],max(cooling[city]),scale_factor>1?1:scale_factor)} class="cooling" />
          <path d={pathGenerator(heating[city],max(heating[city]),scale_factor<1?1:1/scale_factor)} class="heating" />
          <circle x=0 y=0 r={innerWidth/8+10} class="line" fill="none"/>
          <line x1=0 x2=0 y1={innerWidth/8+10} y2={-(innerWidth/8+10)} class="line"/>
          <line y1=0 y2=0 x1={innerWidth/8+10} x2={-(innerWidth/8+10)} class="line"/>
        </g>
        <g transform="translate({innerWidth/2-innerWidth/3*(index-1)}, {innerHeight/2+30})">
          {#each Array.from({length:4} ,(x,i)=>i-1) as counter}
            <text x={(innerWidth/8+17)*Math.cos(Math.PI/2*counter)}
             y={(innerWidth/8+17)*Math.sin(Math.PI/2*counter)} class="text">{(counter+1)*3}</text>
          {/each}
        </g>
        {/each}
    </g>
  </svg>

</div>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  .cooling {
      fill: blue;
      fill-opacity: 0.2;
      stroke:blue;
      stroke-opacity: 0.5;
      stroke-width: 1px; 
  }

  .heating {
      fill: red;
      fill-opacity: 0.2;
      stroke:red;
      stroke-opacity: 0.5;
      stroke-width: 1px;
  }

  .line{
    stroke-width: 2px;
    stroke: black;
  }

  .text {
    text-anchor: middle;
    font-size: 16px;
    font-weight: bold;
  }

  .title1 {
    text-anchor: middle;
    font-size: 20px;
    font-weight: bold;
  }

  .title2 {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
  }
</style>
