<script>
const my_name = "Mohammad"
const my_interests = ["Reading a book","Playing chess","Watching a movie","Data science"]
</script>

<div>
    "My name is {my_name} and these are some of my favourite things: {my_interests} ."
</div>