<script>
let counter=0;

function increase(){
    counter+=1;
}

function resetCounter(){
    counter=0;
}

</script>

<button type="button" class="btn btn-primary" on:click={increase}>Clicked {counter} times</button>
<button type="button" class="btn btn-danger" on:click={resetCounter}>Reset</button>
