<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const rectWidth = 40;
  const rectHeight = 40;
  const circleRadius = 20;
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <rect
      x={(innerWidth - rectWidth) / 2}
      y={(innerHeight - rectHeight) / 2}
      width="40"
      height="40"
      fill="yellow"
    />
    <circle
      cx={innerWidth - circleRadius}
      cy={innerHeight - circleRadius}
      r={circleRadius}
      fill="skyblue"
    />
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
