<script>
  import { max, min, range } from "d3-array";
  import { scaleLinear } from "d3-scale";
  import { each } from "svelte/internal";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;  

  // Array
  const values = [2, 4, 6, 7, 9];

  const circleRadius = 10;
  const scaleX = scaleLinear().domain([0, 1]).range([0, innerWidth]);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
      <circle
        cx={scaleX(Math.log10(value))}
        cy={innerHeight / 2}
        r={circleRadius}
        fill="steelblue"
      />
    {/each}
  </g>
</svg>
