<script>
  import { axisBottom } from "d3-axis";
  import { scaleLinear } from "d3-scale";
  import { scaleLog } from "d3-scale";
  import { select } from "d3-selection";
  import { select_multiple_value } from "svelte/internal";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  const circleRadius = 10;
  const scaleX = scaleLinear().domain([0, 1]).range([0, innerWidth]);
  const scaleX2 = scaleLog().domain([1, 10]).range([0, innerWidth]);
  var xAxis = axisBottom().scale(scaleX2);

  function test() {
    xAxis(select('#axis'));
  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
      <circle
        cx={scaleX(Math.log10(value))}
        cy={innerHeight / 2}
        r={circleRadius}
        fill="steelblue"
      />

      <g
        use:test
        id="axis"
        font-size=10
        font-family="sans-serif"
        transform="translate(0,{innerHeight})"
      >
        <text x={width/2} y={margin.bottom} text-anchor="middle">x label</text>
      </g>
    {/each}
  </g>
</svg>
