<script>

  import {scalePoint} from "d3-scale"
  import {scaleLinear} from "d3-scale"
  import {axisLeft} from "d3-axis"
  import {axisBottom} from "d3-axis"
  import {select} from "d3-selection"

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  let i=1;
  const gap=15;
  const rectWidth = (innerWidth-(data.length+1)*gap)/data.length;
  const xScale = scalePoint().domain(data.map(function(o){return o.service})).range([gap+rectWidth/2,innerWidth-gap-rectWidth/2]);
  const yScale = scaleLinear().domain([0,3]).range([innerHeight,0]);
  const xAxis = axisBottom().scale(xScale).ticks(6);
  const yAxis = axisLeft().scale(yScale);

  function left() {
    yAxis(select('#axisLeft'));
  }

  function bottom() {
    xAxis(select('#axisBottom'));
  }
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as row, i}
        <rect x={gap*(i)+rectWidth*(i-1)} y={yScale(row.viewers)} width={rectWidth} height={innerHeight-yScale(row.viewers)} fill='steelblue' />
        {i=i+1}
    {/each}
    <line x1="0" y1={innerHeight} x2={innerWidth} y2={innerHeight} stroke='black'/>
    <g
        use:left
        id="axisLeft"
        font-size=10
        font-family="sans-serif"
      >      
      </g>

      <g
        use:bottom
        id="axisBottom"
        font-size=10
        font-family="sans-serif"
        transform="translate(0,{innerHeight})"
      >
      </g>

  </g>
</svg>
